.form-item-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

:deep(.el-form-item + .el-form-item) {
  margin-left: 25px;
}

:deep(.el-form-item) {
  width: 50%;
}

:deep(.el-card) {
  box-shadow: none !important;
}



.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.el-card {
  margin-bottom: 25px;
}
